// Colors
$off-black: #20222b;
$off-gray: #e5e5e5;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #dbdbdb;
$purple: #8357c5;
$bezhe:rgba(247, 244, 239, 1);
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
//font
// @font-face {
//     font-family: 'iran-sans';
//     // src: url('/home/darthparov/Desktop/school/src/styles/base/IranianSans.ttf');
//     src: url('./IranianSans.ttf') format('truetype');
// }
//